@import '~@angular/material/theming';
@import './theme_spec.scss';

@include mat-base-typography($typography);
@include mat-checkbox-typography($typography);
@include angular-material-typography($typography);

@include mat-core($typography);

$primary-palette: (
  50: lighten($color-primary, 95%),
  100: lighten($color-primary, 90%),
  200: lighten($color-primary, 75%),
  300: lighten($color-primary, 50%),
  400: lighten($color-primary, 25%),
  500: $color-primary,
  600: darken($color-primary, 25%),
  700: darken($color-primary, 50%),
  800: darken($color-primary, 75%),
  900: darken($color-primary, 90%),
  950: darken($color-primary, 95%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$accent-palette: (
  50: lighten($color-accent, 95%),
  100: lighten($color-accent, 90%),
  200: lighten($color-accent, 75%),
  300: lighten($color-accent, 50%),
  400: lighten($color-accent, 25%),
  500: $color-accent,
  600: darken($color-accent, 25%),
  700: darken($color-accent, 50%),
  800: darken($color-accent, 75%),
  900: darken($color-accent, 90%),
  950: darken($color-accent, 95%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($primary-palette);
$app-accent: mat-palette($accent-palette);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lbbw-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lbbw-app-theme);