<div class="content">

  <div class="row">
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-hint align="end">Search for something</mat-hint>
    </mat-form-field>
  </div>
  <div class="scroll-table mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="batch">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Batch </th>
        <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="click(row)"
       [ngClass]="{'broken': row.isBroken}"></tr>
    </table>

  </div>
</div>